@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');


body {
  font: Railway , sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #6412cf;
  color: #fff;
}


